/* TODO Add site wide styles */
* {
  margin: 0px;
}

#root,body,html {
  height: 100%;
  margin: 0;
  width: 100%
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;

}

btn{
  transition: transform 1s ease-in-out;
}

btn:hover {
  transform: scale(1.2em);
}

i{
  cursor: pointer;
}
