.slideshow-container{
  height: 95vh;
  width: 100%;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

}

.slideshow-container img{
  width:100%;
  height: 100%;

}


.splash-header{
  position: absolute;
  color: white;
  max-width: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.img-slideshow {
  transition: opacity 1s ease-in-out;
}

.splash-signup-link{
  color: #000;
  background-color: white;
  padding: 7.5px 15px;
  border-radius: 5px;
}
