.auth-form-page{
  background-image: url("../../../public/images/deva-darshan.jpg") ;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.auth-form-container{
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 20em;
  max-width: fit-content;
  min-height: 25em;
  max-height: fit-content;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.auth-form-container input{
  width: 72%;
  height:1.5em;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 3px;
}



.auth-logo{
  max-width: 20%;
}

.errors {
  list-style: none;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: sans-serif;
}


.auth-btn{
    background-color: #0091dc;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    width:80%;
    height: 3em;
    margin-bottom: 10px;
}

.auth-btn:hover{
  opacity: 0.8;
}

.auth-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
