.nav-bar {
  background-color: rgba(0, 0, 0, 0.35);
  height: 7.5vh;
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0 0 10px 0 black;
}

.nav-bar-change{
  background-color: rgba(0, 0, 0);
  height: 7.5vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 black;
}

.nav-bar-left{
  display: flex;
  padding-left: 20px;
  align-items: center;
}

img{
  width: 150px;
  height: 10vh;
}


#login-btn{
  color: white;
}

#signup-btn{
  color: #000;
  background-color: white;
  padding: 7.5px 15px;
  border-radius: 5px;
}

.nav-bar-right {
  display: flex;
  align-items: center;
  padding-right: 20px;
  gap: 20px;
}

.nav-bar:hover{

}

.fa-cloud-arrow-up{
  color: white;

}

.fa-cloud-arrow-up:hover{
  cursor: pointer;
}
